:host {
  display: flex;
  flex-wrap: wrap;
  align-items: self-start;
  flex-grow: 1;

  .produto {
    align-items: center;
    background: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    width: 30rem;

    > h4 {
      width: 100%;
      font-size: 1.6rem;
      font-family: "Montserrat";
      font-weight: 600;
    }

    > img {
      margin-top: 2rem;
      font-size: 1.4rem;
      width: 100%;
    }

    > button {
      background: var(--cinza);
      border-radius: 1rem;
      border: none;
      color: var(--preto);
      font-weight: 700;
      line-height: 4rem;
      margin-top: 2rem;
      padding: 0 2rem;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        background: var(--branco-link-hover);
      }
    }
  }
}
