header {
  align-items: center;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  > a {
    > img {
      width: 14rem;
    }
  }

  > nav {
    align-items: center;
    display: flex;
    justify-content: space-between;

    > a {
      border-radius: 2rem;
      color: var(--header-nav-link-color-text);
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 500;
      height: 4rem;
      letter-spacing: -0.1rem;
      line-height: 4rem;
      margin: 0 1.6rem;
      padding: 0 2rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.2s;

      &:hover {
        background-color: var(--header-nav-link-color-background-hover);
      }

      &.router-link-active {
        background-color: var(--header-nav-link-color-background-hover);
        font-weight: bold;
      }
    }

    > .buscar {
      position: relative;
      width: 20rem;

      > div {
        align-items: center;
        bottom: 0;
        display: flex;
        pointer-events: none;
        position: absolute;
        right: 1.6rem;
        top: 0;
      }

      > input {
        border-radius: 2rem;
        border: none;
        height: 4rem;
        line-height: 4rem;
        padding: 0 5rem 0 2rem;
        width: 100%;
      }
    }
  }

  > button {
    border: none;
    cursor: pointer;
    display: none;
    font-size: 1.6rem;
    height: 6rem;
    padding: 2rem;
    width: 6rem;
  }
}

section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

footer {
  display: none;
}

@media screen and (max-width: 770px) {
  header {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  header > a {
    height: 6rem;
    display: flex;
  }

  header nav {
    display: none;
    width: 100%;
    padding-bottom: 1.6rem;
  }

  header nav.ativo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  header nav a {
    width: 100%;
    text-align: center;
    border-radius: 0;
  }

  header nav .buscar {
    position: relative;
    padding: 1.6rem;
    width: 100%;
  }

  header nav .buscar div {
    right: 3rem;
  }

  header > button {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
  }

  section {
    padding-bottom: 8rem;
  }

  footer {
    align-items: center;
    background-color: var(--footer-color-background);
    bottom: 0;
    color: var(--footer-color-text);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }
}


footer {
  > nav {
    display: flex;
    flex-direction: row;

    > button {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      border: none;
      background-color: transparent;

      &.router-link-active {
        font-weight: bold;
      }
    }
  }
}

.versao {
  position: fixed;
  right: 0;
  bottom: 0;
}