<header>
  <a href="#">
    <img src="assets/logo.svg" alt="Lojinha - Comprar on-line">
  </a>
  <nav [class.ativo]="ativo">
    <a [routerLink]="['/carrinho']" routerLinkActive="router-link-active">Carrinho</a>
    <a [routerLink]="['/produtos']" routerLinkActive="router-link-active">Produtos</a>

    <div class="buscar">
      <div>
        <img src="assets/buscar.svg" alt="Buscar">
      </div>
      <input type="text">
    </div>
  </nav>
  <button (click)="toogle()">☰</button>
</header>
<section>
  <router-outlet></router-outlet>
</section>
<footer>
  <nav>
    <button [routerLink]="['/produtos']" routerLinkActive="router-link-active">
      <fa-icon [icon]="faHome"></fa-icon>
      <span>Produtos</span>
    </button>
    <button [routerLink]="['/carrinho']" routerLinkActive="router-link-active">
      <span class="total" *ngIf="total | async">{{ total | async}}</span>
      <fa-icon [icon]="faShoppingCart"></fa-icon>
      <span>Carrinho</span>
    </button>
  </nav>
</footer>
<div class="versao">
  {{ versao }}
</div>